body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.container {
    text-align: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
    border-radius: 10px;
}


.search-container {
    margin-bottom: 20px;
}

.search-container input {
    padding: 10px;
    width: 250px; /* Uzunluğu artırıldı */
    border-radius: 20px; /* Yuvarlak kenarlar */
    border: 1px solid #ccc;
    outline: none; /* Kenarlığı odaklandığında kaldırır */
}

.search-container button {
    padding: 10px;
    background-color: aqua;
    color: white;
    border: none;
    border-radius: 20px; /* Yuvarlak kenarlar */
    cursor: pointer;
}


.frame-container {
    display: flex;
    justify-content: space-between;
}

.frame {
    width: calc(33.33% - 10px); /* Çerçeve maksimum genişliği (sayfa genişliğinin 1/3'ü) ve aralarında 10px boşluk */
    box-sizing: border-box;
    padding: 15px;
    border: 1px solid #ccc;
    background-color: aqua;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
    
}

.frame p {
    margin: 0;
}

.bottom-text {
    margin-top: 20px;
}

.bottom-text p {
    font-size: 18px;
    color: #333;
}

.copyright {
    background-color: #fff;
    color: black;
    text-align: center;
    padding: 8px;
    /* position: fixed;  */
    bottom: 1; 
    width: 1820px;
    border-radius: 10px;
    margin-right: 15px;
    margin-left: 15px;
}

.copyright p {
    margin: 0;
    font-size: 14px;
}

